.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(0.1rem);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.4s ease-in-out;
  z-index: 999;
}

.hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in-out, visibility 0s 0.4s;
}

.modal {
  display: flex;
  flex-direction: column;
  flex: 0 1 calc(25rem + 1.5rem * 2);
  background: #fff;
  border-radius: 1rem;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transform: scale(1);
  max-height: calc(100% - 10rem);
  max-width: calc(100% - 10rem);
  overflow: hidden;
  text-align: center;
}

.hide .modal {
  transform: scale(0.5);
  opacity: 0;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
  min-height: 2.5rem;
  padding: 1.5rem 0.5rem;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: calc(100% + 1rem);
  width: 100%;
  background: linear-gradient(
    to bottom right,
    rgba(var(--color-primary-light), 1),
    rgba(var(--color-primary-dark), 1)
  );
}

.header::after {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  background: rgba(var(--color-primary-light), 1);
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, 50%) rotate(45deg);
}

.title {
  flex: 1;
  font-size: 2rem;
  font-family: "Comfortaa", "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 900;
  line-height: 1;
  text-align: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  background: transparent;
}

.scrollBox {
  overflow: auto;
  padding: 1.5rem;
  border-radius: 1rem;
  background: #fff;
  position: relative;
}

.content {
  display: inline-block;
  width: 100%;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.message {
  line-height: 1.4;
  text-align: center;
}
