.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto 5rem;
}

.title {
  margin-bottom: calc(1.875rem * 2 + 0.125rem);
  font-family: "Comfortaa", "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  color: rgba(var(--color-primary-dark), 1);
  width: 100%;
  position: relative;
  line-height: 1;
  cursor: default;
}

.title::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 0.125rem;
  border-radius: calc(0.125rem / 2);
  background: rgba(var(--color-support-light), 1);
  top: calc(100% + calc(1.875rem * 2 / 2) - calc(0.125rem / 2));
  left: 50%;
  transform: translateX(-50%);
}

.hoursAndDates {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.hoursList {
  list-style: none;
  font-size: 0.625rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dates {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 25rem;
}

.dateContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.dateBlock {
  border-radius: 1rem;
  border: 0.125rem solid rgba(var(--color-support-light), 1);
  background: rgba(var(--color-support-light), 0.2);
  height: 25rem;
  padding: 0 0.75rem;
  text-align: center;
  position: relative;
}

.dateLabel {
  position: absolute;
  top: calc(100% + 1rem);
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.625rem;
  text-transform: uppercase;
  writing-mode: sideways-lr;
}

.timetable {
  position: absolute;
  border-radius: 1rem;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  mix-blend-mode: multiply;
  opacity: 0.5;
}
